@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main>
    <article>
        @Body
    </article>
</main>

<footer>
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href=".">Reload</a>
        <span>🗙</span>
    </div>
</footer>


