@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main class="container">
    <article>
        @Body
    </article>
</main>

<footer class="container">
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href=".">Reload</a>
        <span>🗙</span>
    </div>
</footer>


