<nav>
    <div>
        <NavLink href="" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Home
        </NavLink>
    </div>

    <div>
        <NavLink href="counter">
            <span aria-hidden="true"></span> Counter
        </NavLink>
    </div>

    <div>
        <NavLink href="weather">
            <span aria-hidden="true"></span> Weather
        </NavLink>
    </div>
</nav>
