<nav>
  
    <AuthorizeView>
        <Authorized>
            <span>
                Hello @context.User?.Identity?.Name
            </span>
            <NavLink href="users/logout">
                <span aria-hidden="true"></span> Logout
            </NavLink>
        </Authorized>

        <NotAuthorized>
            <NavLink href="users/register">
                <span aria-hidden="true"></span> Register
            </NavLink>

            <NavLink href="users/login">
                <span aria-hidden="true"></span> Login
            </NavLink>
        </NotAuthorized>
    </AuthorizeView>

    <NavLink href="" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Home
    </NavLink>
   
</nav>
